<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643905576248-4q82o5880r77nq2e0kgdshce7t9g23j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643905576248-4q82o5880r77nq2e0kgdshce7t9g23j6</string>
	<key>API_KEY</key>
	<string>AIzaSyCdGcu3bv6bwSzbfdeWztcboNDHOIqjaAs</string>
	<key>GCM_SENDER_ID</key>
	<string>643905576248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dispill</string>
	<key>PROJECT_ID</key>
	<string>alar-pill-dispenser</string>
	<key>STORAGE_BUCKET</key>
	<string>alar-pill-dispenser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643905576248:ios:773593d54b2cc7e4adb5cd</string>
</dict>
</plist>